<section class="section" id="skills-index">
  <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
    <% @skills.each do |skill| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading<%= skill.id %>">
          <h4 class="panel-title">
            <%= link_to "#{skill.name}", "collapse#{skill.id}", data: { toggle: 'collapse', parent: '#accordion' }, aria: { expanded: 'true', controls: "collapse#{skill.id}" } %>
          </h4>
        </div>
        <div class="panel-collapse collapse in" role="tabpanel" id="collapse<%= skill.id %>" role="tabpanel" aria-labelledby="heading<%= skill.id %>">
          <div class="panel-body">
            <%= simple_format skill.description %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
