<section>
  <div class="container-fluid">
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-xs-12 col-md-6 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-image">
              <%#= project.name %>
              <%= image_tag "projects/#{project.folder}/#{project.image}", data: { toggle: 'modal', target: "modal#{project.id}" }, class: 'img-responsive project-img' %>
            </div>
            <div class="panel-heading">
              <%= link_to project.name, project_path(project) %>
            </div>
            <div class="panel-body">
              <%= simple_format project.description %>
              <p>
                Software implemented include the following:
                <ul>
                  <% project.softwares.each do |software| %>
                    <li class="col-sm-12 col-md-6"><%= software.name %></li>
                  <% end %>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <%= render partial: 'project_modal', locals: { project: project } %>
      <% end %>
      <% @projects.each do |project| %>
      <% end %>
    </div>
  </div>
</section>
