<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill_component.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @skill_component.description %>
</p>

<%= link_to 'Edit', edit_skill_component_path(@skill_component) %> |
<%= link_to 'Back', skill_components_path %>
