<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ||= "eddybanks" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="outer-wrapper">
    <%= render 'layouts/nav' %>
    <div class="inner-wrapper">
      <% if @page_header.present? %>
        <%= render 'layouts/header' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
