<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ||= "eddybanks" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="outer-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <%= render 'layouts/nav' %>
        </div>
        <div class="col-md-10">
          <div class="inner-wrapper">
            <div class="container-fluid">
              <% if @page_header.present? %>
                <%= render 'layouts/header' %>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
