<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ||= "eddybanks" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="outer-wrapper">
    <div class="row">
      <div class="col s4">
        <%= render 'layouts/nav' %>
      </div>
      <div class="col s8 offset-s2">
        <div class="inner-wrapper">
          <% if @page_header.present? %>
            <%= render 'layouts/header' %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
